@media screen and (min-width:650px){
  .udacity-logo, .google-logo {
    height: 6em;
  }
  table.web-list ,
  table.graphic-list  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .column {
    max-width: 200px;
  }
  .foot ul {
  padding-left: 1em;
}
  /* web page */

  /* graphics page */
  /*.portfolio-image {
    height: 500px;
    width: 510px;
    max-height: 500px;
    max-width: 510px;
  }
  .prev,
  .next {
    height: 30%;
    max-height: 510px;
    font-size: 2em;
    padding-top: 45%;
  }
  .next {
    right: -10px;
  }*/

  /* footer */
  /*.foot {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto;
    width: 90%;
  }
  .foottext {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .pro.links {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .linked.in.logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .facebook.logo {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .codepen.logo {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .social.links {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .fb.logo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .twitter.logo {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }*/
}
@media screen and (min-width:900px){
  /* main body */
  main {
    /* top: 188px; */
  }
  body {
    max-width: 100%;
    /* width: 1000px; */
  }
  .web-design-section h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .portfolio-container h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .first.feature {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
  .second.feature {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
  }
  .udacity h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .third.feature {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .fourth.feature {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .fifth.feature {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .personalweb {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .sixth.feature {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    /* padding-top: 1em; */
  }
  /* menu change */
  .burger-menu {
    display: none;
  }
  .drop-down-menu ul {
    display: inline;
    width: 800px;
    grid-column-start: 1;
  }
  .nav.header-bar {
    grid-template-columns: 75% 25%;
    height: auto;
  }
  .nav.header-bar h5 {
    grid-column-start: 2;
    text-align: right;
    float: right;
    align-self: center;
  }
  .nav-list a:link {
    font-size: 14px;
  }
  .nav-list ul {
    list-style-type: none;
    margin:0;
    padding:0;
    position: absolute;
  }
  .nav-list li {
    float: left;
    padding: 1em;
  }
  li.nav-item.link-five {
    border-right: none;
  }
  /*.portfolio-image {
    width: 450px;
    height: auto;
  }*/
  /* web page */

  /* footer */
  /* scroll button */
  .scroll-button {
    bottom: 10%;
  }
  table.web-list ,
  table.graphic-list  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width:1042px){
  main {
    top: 190px;
  }
}
