@media screen and (max-width: 549px){
  body {
  background-image: url("../img/main/flowers@0,5x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}
}
@media screen and (min-width: 550px){
  .nav.header-bar {
    grid-template-columns: 85% 15%;
  }
  .RWDlogo-home {
    max-width: 25vh;
  }
}
@media screen and (min-width: 700px){
  .nav.header-bar {
      grid-template-columns: 100%;
      height: auto;
  }
  .burger-menu , .nav.header-bar h5 {
    display: none;
  }
  .drop-down-menu ul {
    width: 100%;
    grid-column-start: 1;
  }
  .nav-list a:link {
    font-size: 14px;
  }
  .nav-list ul {
    list-style-type: none;
    margin:0;
    padding:0;
    position: absolute;
  }
  .nav-list li {
    float: left;
    padding: 1em 0.5em 1em 0.5em;
  }
  .udacity-logo, .google-logo {
    height: 6em;
  }
  .featured.image {
    max-width: 20em;
  }
  table.web-list ,
  table.graphic-list  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  table.web-list {
    margin-top: 2em;
  }
  /*
  footer social logos grid positioning
  */
  .pro-bar, .soc-bar {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .pro-bar h3, .soc-bar h3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  .pro-bar h3 {
    margin-bottom: 1em;
  }
  .linked.in.logo {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .facebook.logo {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .codepen.logo {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .github.logo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
  }
  .fb.logo {
    margin-top: auto;
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .twitter.logo {
    grid-column-start: 2;
    margin-top: auto;
    grid-row-start: 2;
  }
  .zazzle.logo {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .wordpress.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }
  .instagram.logo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
  }
}
@media screen and (min-width: 950px){
  .RWDlogo-home {
    max-width: 35vh;
  }
  .head-text {
    margin-left: 0;
  }
  .udacity-logo, .google-logo {
    height: 8em;
  }
  .web-design-section h4 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .first.feature {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .second.feature {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .third.feature {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .fourth.feature {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .fifth.feature {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .sixth.feature {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .graphics-portfolio {
    max-width: 80%;
  }
  .portfolio-image {
    width: 50%;
    display: none;
    height: 50%;
    /* width: 220px; */
    max-height: 500px;
    max-width: 500px;
  }
  .prev {
    left: 19%;
  }
  .next {
    right: 20%;
  }
}
