body, html {
  height: 100%;
  width: 100%;
}
/*
main styling
*/
body {
  margin: 0;
  max-width: 100vw;
  /* width: 100%; */
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  /* text-align: center; */
}
a:active {
  transform: translateY(-4px);
}
/*
header styling
*/
.RWDlogo  {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1em;
  padding-bottom: 0;
}
.RWDlogo.home {
  width: 60%;
  min-width: 170px;
}
header {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 50% 50%;
  width: 100%;
  /* position: fixed; */
  background-color: #ffffff;
  z-index: 1;
}
.heading.title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  text-align: right;
  padding: 1em;
  padding-top: 1.3em;
}
hr {
  height: 1px;
  width: 100%;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
/* navigation styling */
.nav.header-bar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  width: 100%;
  height: 3em;
  background-color: rgba(15, 152, 0, 1);
  display: grid;
  grid-template-columns: 90% 10%;
  flex-wrap: wrap;
}
.drop-down-menu {
  display: none;
}
.burger-menu-image {
  width: 3em;
  float: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  margin: 0.2em;
}
.nav.header-bar h5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  margin: 0.5em 1em 0.5em 1em;
  max-width: 300px;
}
.drop-down-menu.open {
  z-index: 1;
  width: 60%;
  background-color: rgba(27, 115, 17, 1);
  position: relative;
  left: 46%;
  top: -8px;
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav-list li {
  display: block;
  box-sizing: border-box;
  padding: 0.5em 1em 0.5em 1em;
  color: #fff;
}
.nav-list a:hover {
  color: #000000;
  background-color: #44ff2b;
}
.nav-list :hover {
  background-color: #44ff2b;
}
.nav-list a {
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
}
.nav-list a:active {
  color: #000;
  background-color: #44ff2b;
}
.nav-list a:visited {
  color: #000;
}
/* iframe styling */
.home-page-iframe {
  max-width: 100vw;
  min-height: 300px;
  border: none;
  margin: 0 0.5em 0 0.5em;
  /* position: fixed; */
  /* top: 140px; */
  /* left: 0; */
}
.container {
  width: 1px;
  min-width: 100%;
  *width: 100%;
  max-width: 100vw;
  overflow:auto;
  /* overflow: scroll; */
}
/*
main area styling
*/
main {
  margin: auto;
  max-width: 100vw;
  width: 100%;
  /* position: fixed; */
  /* top: 175px; */
  height: auto;
}
/* people per hour modal styling */
.modal-content {
  position: absolute;
  left: -300px;
  width: 0;
}
.modal {
  display: none;
}
.modal-content.open {
  border: 2px normal black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#383838+0,1e1e1e+29,000000+100 */
 background: rgb(56,56,56); /* Old browsers */
 background: -moz-linear-gradient(-45deg, rgba(56,56,56,1) 0%, rgba(30,30,30,1) 29%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, rgba(56,56,56,1) 0%,rgba(30,30,30,1) 29%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(135deg, rgba(56,56,56,1) 0%,rgba(30,30,30,1) 29%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 display: grid;
  flex-wrap: wrap;
  grid-template-columns: 50% 50%;
  top: 50%;
  z-index: 1;
  position: absolute;
  left: 0;
  width: 25%;
  height: 10%;
  min-width: 270px;
  max-width: 270px;
  min-height: 240px;
  max-height: 240px;
  transition: width 0.1s;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
}
.modal-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.profilePic.modal-content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  float: right;
}
.modalLogo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.modal-text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.pphLogo.modal-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 3em;
  height: 3em;
  margin: auto;
  position: initial;
}
.show-hide-modal {
  position:absolute;
  top: 50%;
  left: 0;
  height: 1.5em;
  width: 0.7em;
  padding: 0.1em;
  border-top-right-radius: 110px;  /* 100px of height + 10px of border */
  border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
  background-color: rgba(20, 19, 22, 1);
  color: white;
  font-size: 1.5em;
  font-family: cursive;
  font-weight: 600;
  z-index: 1;
  cursor: pointer;
  justify-content: center;
  vertical-align: middle;
  display: none;
}
.modal-button-text {
  margin: auto;
}
.show-hide-modal.slide {
  transition: 0.1s;
  -webkit-animation: slideArrow 0.1s;
  animation-name: slideArrow;
  left: 284px;
}
@-webkit-keyframes slideArrow {
  from {left: 0px;}
  to {left: 284px;}
}
.modal-content .modalLogo img {
  width: 3em;
}
.modal-content .profilePic img {
  width: 6em;
}
.pph-alert img {
  width: 3em;
}
/*
footer styling
*/
footer {
  width: 98%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  background-color: #ffffff;
  /* top: 500px; */
  /* position: absolute; */
  padding-left: 1%;
  padding-right: 1%;
}
.foot {
  margin-top: 1em;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 20% 38% 38%;
  /*
  footer text styling
  */
  font-size: 0.75em;
}
.RWDlogo-foot {
  height: 3em;
  vertical-align: middle;
}
/*
social logos
*/
.logo {
  margin: 0.5em;
}
.fb.logo img {
  width: 3em;
}
.linked.in.logo img {
  width: 3em;
}
.twitter.logo img {
  width: 3em;
}
.society6.logo img {
  height: 3em;
}
.codepen.logo img {
  height: 3em;
}
.pphLogo.logo img {
  height: 3em;
}
.facebook.logo img {
  height: 3em;
}
/*
grid positioning
*/
.foottext {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pro.links {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.linked.in.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.pphLogo.logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.facebook.logo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.codepen.logo {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.social.links {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.fb.logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.twitter.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}
.society6.logo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
