body, html {
  height: 100%;
  width: 100%;
}
*, *:after, *:before {
	box-sizing: border-box;
}
a:link {
  text-decoration: none;
  color: rgba(15, 152, 0, 1);
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color: rgba(11, 115, 0, 1);
  font-weight: bold;
}
a:active {
  text-decoration: underline;
  color: rgba(11, 115, 0, 1);
}

.homepage {

  /* background-origin: border-box; */
  /* max-width: 100vh; */
}

/*
main styling
*/
.content {
}
main {
  position: relative;
  top: 100%;
  background-color: #FFFFFF;
  padding: 1em;
}
body {
  margin: 0;
  max-width: 100%;
  /* width: 100%; */
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  background-image: url("../img/main/trees.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* text-align: center; */
}
/*
header styling
*/
.RWDlogo-home {

  max-width: 15vh;
}
.RWDlogo.home {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0;
  margin: auto;
  margin-left: 5px;
}
.header-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto;
  grid-row-start: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  top: 0;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}
.head-text {
  padding: 1em;
  margin: auto;
}
.header-container h1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  padding: 1em 0.5em 1em 0.5em;
}
.header-container h4 {
  padding-left: 0;
  margin-left: 0;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  text-align: right;
}
hr {
  height: 1px;
  width: 100%;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
/* navigation styling */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 10px;
}
.nav.header-bar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  width: 100%;
  max-width: 100%;
  height: 3.5em;
  max-height: 3.5em;
  background-color: rgba(15, 152, 0, 1);
  display: grid;
  grid-template-columns: auto;
  flex-wrap: wrap;
  z-index: 1;
}
.drop-down-menu {
  display: none;
}
.burger-menu {
  float: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  margin: auto;
  padding: 0;
  cursor: pointer;
  text-align: center;
}
.burger-menu img {
  width: 3em;
}
.nav.header-bar h5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  margin: auto 1em auto 1em;
  max-width: 300px;
}
.drop-down-menu.open {
  z-index: 1;
  width: 70%;
  background-color: rgba(27, 115, 17, 1);
  position: relative;
  left: 42%;
  top: 2px;
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav-list li {
  display: block;
  box-sizing: border-box;
  padding: 0.5em 1em 0.5em 1em;
  color: #fff;
}
.nav-list a:hover,
.nav-list :hover {
  background-color: rgba(11, 115, 0, 1);
}
.nav-list a {
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
}
.nav-list a:active {
  background-color: rgba(11, 115, 0, 1);
  text-decoration: underline;
}
.nav-list a:visited {
  color: #000;
}
/*
main area styling
*/
main {
  max-width: 100vw;
  width: 100%;
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
}
h3 {
  text-align: center;
}
.graphics-text {
  text-align: center;
}
.web-design-section {
  text-align: center;
}
/*
contact page styling
Currently unpublished form
*/
.contact-section {
  padding-top: 1em;
}
.contact-info {
  text-align: center;
}
/*.contact legend {
  text-align: center;
}
.contact-form {
  /* display: grid;
  grid-template-columns: auto;
  flex-wrap: wrap;
  text-align: left;
  display: none;
  box-shadow: 2px 2px 2px 2px rgba(198, 198, 198, 1);
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 98%;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.main-form {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; */
  /* display: inline-block; */
  /* width: 100%;
}
.summary {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.submission {
align-content: center;
text-align: center;
}
.modal-contact {
  display: none;
}
.modal-contact.live {
  display: block;
  transition: display fade 0.5s;

}
.contact {
  /* justify-content: space-around;
}
.contact-title {
  width: 100%;
}
.col-25 {*/
  /* width: 100%; */
/*  float: left;
}
.col-75 {
  width: 100%;
  float: left;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.contact input {*/
  /* float: right; */
/*  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
  margin: 0.5em;
  width: 85%;
}
.contact label {
  padding: 0.5em;
}
.contact textarea {*/
  /* float: right; */
/*  resize: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
  margin: 0.5em;
}
.contact-submit {
  background: transparent;
  box-shadow: 2px 2px 2px 2px rgba(198, 198, 198, 1);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 1.2em;
}
.sign-up-submit:active {
  transform: translateY(4px);
}
.required-fields {*/
  /* float: right; */
  /*position: absolute;
  left: 60%;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}
.logo-main.contact {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}*/
/*
graphics portfolio styling
*/
.graphics-services {
  padding-bottom: 1em;
}
.graphics-portfolio {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.portfolio-image {
  width: 100%;
  display: none;
  height: 210px;
  width: 220px;
  max-height: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
.slide-titles {
  margin-bottom: 1em;
}
.shop-now {
  margin: 1em;
}
.shop-now-button img {
  height: 3em;
  margin: 0;
}
.shop-now-button {
  margin-top: 0.5em;
  background: transparent;
  border: 0;
  box-shadow: 2px 2px 2px 2px rgba(198, 198, 198, 1);
  cursor: pointer;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}
.shop-now-button:active {
  transform: translateY(4px);
}

.prev,
.next {
  border: 0;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  cursor: pointer;
  font-family: sans-serif;
  top: 0;
  width: auto;
  height: 8%;
  max-height: 200px;
  padding: 16px;
  padding-top: 25%;
  padding-bottom: 25%;
  margin: auto;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-align: center;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
    /* margin/padding: top right bottom left; */
  margin: 5px 2px 5px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.titles {
  font-weight: bold;
}
/*
web portfolio styling
*/

/*
main area styling
*/
.portfolio {
  max-width: 100%;
}
/*
styling to create hover style on images
*/
.portfolio div.container {
  float: right;
  background-color: #f1f0f0;
}
.container:hover .main.image {
  opacity: 0.3;
}
/*
featured work section styling
*/
.feature {
  margin: auto;
}
/*
featured images styling
*/
.featured.image {
  width: calc(100% - 2em);
  max-width: 17em;
  border: 1px outset #ccc;
  box-shadow: 2px 2px 2px -6px #ccc;
  /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
  -webkit-box-shadow: 2px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
  position: relative; /* This protects the inner element from being blurred */
  background-color: white;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  /* height: em; */
  margin: auto;
  vertical-align: middle;
}
.featured.image:active {
  transform: translateY(4px);
}
/* each area of portfolio is held in area div */
.area {
  display: grid;
  grid-template-columns: auto;
  flex-wrap: wrap;
  margin: 15px 10px;
}

/*
styling to create hover style
*/
.container {
  position: relative;
  max-width: max-content;
  margin: auto;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .featured.image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*
about page styling
*/
.about.section {
  padding-top: 1em;
}
.about-hero {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 650px;
}
table.invest-projects {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}
table.invest-projects tr:nth-child(odd) {
}
table.invest-projects tr {
  padding: 0.5em;
  width: 100%;
}
table.invest-projects tr:hover {
  background-color: #eee;
}
table.invest-projects td {
  padding: 0.5em;
}
td.project-title {
  text-decoration: underline;
  width: 100%;
  float: left;
}
td.description {
  width: 100%;
}
.udacity {
  font-weight: 400;
  margin-top: 1em;
}
.about-link-list {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
.about-link-list a:link {
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}
.about-link-list li {
  padding: 1em;
  vertical-align: middle;
}
.about-link-list li:hover {
  background-color: #dcdcdc;
}
.about-link-list h4 {
  background-color: #fff;
  position: relative;
  bottom: 35px;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.logo {
    vertical-align: middle;
}
.course-links {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.udacity-logo, .google-logo {
  display: inline;
  height: 4em;
}

/*
services page
*/
ul.skill-list  {
  list-style: none;
  padding: 5px;
  margin: 0;
}
.skill-list li {
  padding-top: 5px;
}
a.school-link {
  color: #000000;
}
.contract {
  margin-top: 0.5em;
}
.RWDlogo.services img {
  float: right;
  margin: 5px;
  width: 40%;
  max-width: 200px;
}
/* scroll button styling */
.scroll-button {
  width: 3.5em;
  height: 3.5em;
  position: fixed;
  bottom: 2%;
  right: 5%;
  border: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  /* display: none; */
}
.scroll-button:active {
  transform: translateY(4px);
}
.scroll {
  width: 3em;
  height: 3em;
  margin: auto;
  vertical-align: middle;
}
.scroll-button:hover {
  transform: translateY(4px);
}
/*
footer styling
*/
footer {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  top: 98%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1em;
}
.foot {
  margin-top: 1em;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 33% 33% 33%;
}
.foottext {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.copyright-area {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 10px;
}
.column {
  width: 100%;
  margin-bottom: 10px;
}
.foot a:link {
  text-decoration: none;
}
.foot ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.foot li {
  padding: 0 0 5px 1em;
}
.pro-bar, .soc-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
}
.pro-bar h3, .soc-bar h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}
.pro-bar h3 {
  margin-bottom: 6px;
}
.soc-bar h3 {
  margin-bottom: 1em;
}
.RWDlogo-foot {
  height: 3em;
  vertical-align: middle;
}
/*
social logos
*/
.logo {
  margin: 1em;
  display: inline;
  grid-row-start: 2;
  grid-column-start: 1;
  align-self: center;
}
.logo img {
  width: 2em;
}
/*
grid positioning
*/
.linked.in.logo {
  grid-column-start: 2;
}
.facebook.logo {
  grid-column-start: 1;
}
.codepen.logo {
  grid-column-start: 1;
  grid-row-start: 3;
}
.github.logo {
  grid-column-start: 2;
  grid-row-start: 3;
}
.fb.logo {
  margin-top: 0;
  grid-column-start: 1;
  grid-row-start: 2;
}
.twitter.logo {
  grid-column-start: 2;
  margin-top: 0;
  grid-row-start: 2;
}
.zazzle.logo {
  grid-column-start: 1;
  grid-row-start: 3;
}
.wordpress.logo {
  grid-column-start: 2;
  grid-row-start: 3;
}
.instagram.logo {
  grid-column-start: 1;
  grid-row-start: 4;
}
